@charset "UTF-8";
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/playfair-display-v22-latin-regular.woff2") format("woff2"), url("../fonts/playfair-display-v22-latin-regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"); }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.title {
  margin: 0;
  color: #413d4b;
  font-family: "Playfair Display", "Arial", serif;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.1px; }

.button {
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  min-width: 117px;
  margin: 0 auto; }

.page-footer {
  background: url(../img/footer-background.jpg);
  background-color: #332a52;
  background-repeat: no-repeat;
  min-height: 400px; }
  @media (max-width: 768px) {
    .page-footer {
      background-size: cover; } }

.page-footer__wrapper {
  box-sizing: border-box;
  padding: 70px 20px 0;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  color: #FFFFFF; }

.page-footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.page-footer__agency, .page-footer__contacts, .page-footer__social {
  width: 100%; }
  @media (min-width: 1024px) {
    .page-footer__agency, .page-footer__contacts, .page-footer__social {
      width: 33.1%;
      box-sizing: border-box; } }

.page-footer__contacts {
  padding-top: 13px; }

.page-footer__social {
  padding-top: 15px; }
  @media (min-width: 1024px) {
    .page-footer__social {
      padding-left: 21px; } }

.page-footer__rights {
  margin-top: 57px;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 736px) {
    .page-footer__rights {
      justify-content: space-between; } }

.resume__info {
  line-height: 1.857;
  margin: 0;
  margin-top: 18px;
  font-weight: 300;
  width: 89%; }

.resume__link {
  display: inline-block; }

.contacts__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px; }

.contacts__adress {
  padding-left: 30px;
  margin: 0;
  margin-bottom: 12px;
  position: relative;
  box-sizing: border-box;
  width: 91%;
  line-height: 26px;
  letter-spacing: .35px; }
  .contacts__adress::after {
    position: absolute;
    content: url(../img/icon-pin-map.png);
    top: 0;
    left: 5px;
    display: inline-block;
    height: 19px; }

.contacts__phone {
  padding-left: 30px;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
  line-height: 26px;
  letter-spacing: .35px; }
  .contacts__phone::after {
    position: absolute;
    content: url(../img/icon-phone.png);
    top: 0;
    left: 5px;
    display: inline-block;
    height: 19px; }

.footer-form {
  display: flex;
  align-items: center;
  margin-bottom: 25px; }

.footer-form__email {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  min-height: 45px;
  font-family: inherit;
  border: 1px solid #9a92ab;
  background: transparent;
  min-width: 72%;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.749);
  margin-right: 10px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: .35px; }
  .footer-form__email::-moz-placeholder {
    color: rgba(255, 255, 255, 0.749);
    letter-spacing: 0.8;
    font-family: "Roboto", sans-serif; }
  .footer-form__email::placeholder {
    color: rgba(255, 255, 255, 0.749);
    letter-spacing: 0.8;
    font-family: "Roboto", sans-serif; }

.footer-form__button {
  display: block;
  position: relative;
  padding: 0;
  min-height: 45px;
  width: 70px;
  background: rgba(154, 146, 171, 0.7);
  border: none; }
  .footer-form__button::after {
    position: absolute;
    content: url(../img/icon-newsteller.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 25px;
    width: 25px; }

.social {
  padding-left: 10px; }

.social__list {
  display: flex;
  width: 78%; }

.social__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0; }

.social__item {
  width: 35px;
  margin-right: 8px; }
  .social__item:last-child {
    margin-right: 0; }

.social__link {
  display: block;
  width: 35px;
  min-height: 35px; }
  .social__link--facebook {
    background-image: url(../img/icon-facebook.png);
    background-repeat: no-repeat; }
  .social__link--twitter {
    background-image: url(../img/icon-twitter.png);
    background-repeat: no-repeat; }
  .social__link--dribbble {
    background-image: url(../img/icon-dribbble.png);
    background-repeat: no-repeat; }
  .social__link--instagram {
    margin-right: 10px;
    background-image: url(../img/icon-instagram.png);
    background-repeat: no-repeat; }
  .social__link--google-plus {
    margin-right: 10px;
    background-image: url(../img/icon-gplus.png);
    background-repeat: no-repeat; }
  .social__link--youtube {
    background-image: url(../img/icon-youtube.png);
    background-repeat: no-repeat; }

.page {
  min-height: 100%;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.571;
  margin: 0;
  background-color: #FFFFFF;
  color: rgba(51, 51, 51, 0.749);
  font-weight: 400; }

.container-site {
  padding: 0 20px; }
  @media (min-width: 1024px) {
    .container-site {
      width: 960px;
      padding: 0; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.our-story {
  padding: 0 20px;
  padding-top: 64px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center; }
  @media (min-width: 736px) {
    .our-story {
      justify-content: space-between; } }

.our-story__wrap {
  box-sizing: border-box;
  width: 100%; }
  @media (max-width: 736px) {
    .our-story__wrap--picture {
      min-height: 239px;
      margin-bottom: 40px; } }
  @media (min-width: 737px) {
    .our-story__wrap--picture {
      width: 41%; } }
  @media (min-width: 737px) {
    .our-story__wrap--text {
      width: 57%; } }

.our-story__picture {
  display: block;
  width: 235px;
  height: 239px;
  margin: 0 auto; }

.our-story__title {
  margin-bottom: 21px; }

.our-story__description {
  font-size: 14px;
  margin: 0;
  letter-spacing: .42px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 23px;
  box-sizing: border-box; }

.link-more {
  box-sizing: border-box;
  display: block;
  color: #00e0d0;
  font-family: "Playfair Display", "Arial", serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  padding: 13px 10px;
  font-weight: 700;
  width: 121px;
  cursor: pointer; }
  .link-more--big {
    width: 140px; }

.page-header {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  position: relative;
  min-height: 55px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px; }
  @media (min-width: 1024px) {
    .page-header {
      padding-top: 15px;
      padding-right: 20px;
      padding-left: 10px;
      margin-bottom: 0;
      justify-content: space-between; } }

.page-header__logo img:hover, .page-header__logo img:focus {
  opacity: 0.8; }

.page-header__logo img:active {
  opacity: 0.6; }

.list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav {
  max-width: 540px; }
  .main-nav--opened {
    width: 100%; }
  @media (max-width: 736px) {
    .main-nav--nojs {
      width: 100%; } }
  @media (min-width: 1024px) {
    .main-nav {
      max-width: 522px; } }

.main-nav__toggle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 26px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  border: none; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 0 0 #FFFFFF, 0 14px 0 0 #FFFFFF; }

@media (max-width: 736px) {
  .main-nav--closed .main-nav__wrapper {
    display: none; } }

.main-nav--opened .main-nav__toggle {
  top: 20px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #FFFFFF; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

@media (max-width: 736px) {
  .main-nav--opened .main-nav__wrapper {
    margin-top: 13px;
    width: 100%; } }

@media (max-width: 736px) {
  .main-nav--opened a,
  .main-nav--nojs a {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px; } }

.main-nav--nojs .main-nav__toggle {
  display: none; }

@media (max-width: 736px) {
  .main-nav--nojs .main-nav__wrapper {
    display: block;
    margin-top: 13px; } }

.main-nav__wrapper {
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .main-nav__wrapper {
      max-width: 550px; } }
  @media (min-width: 1024px) {
    .main-nav__wrapper {
      max-width: 522px; } }

@media (min-width: 768px) {
  .site-list {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    position: relative; } }

@media (min-width: 1024px) {
  .site-list {
    width: auto;
    justify-content: space-between; } }

@media (min-width: 768px) {
  .site-list__item {
    margin-right: 20px; }
    .site-list__item:nth-child(7n) {
      margin-right: 0; } }

@media (min-width: 1024px) {
  .site-list__item {
    margin-right: 26px; } }

.site-list__link {
  padding-top: 19px;
  display: block;
  color: #FFFFFF;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  position: relative; }
  .site-list__link:hover, .site-list__link:focus {
    opacity: 0.6;
    color: #00e0d0; }
  .site-list__link--active {
    color: #00e0d0; }

.rights__navigation, .rights__copyright {
  margin-bottom: 20px;
  width: 100%; }
  @media (min-width: 736px) {
    .rights__navigation, .rights__copyright {
      margin-bottom: 0;
      width: auto; } }

.rights__navigation {
  box-sizing: border-box;
  display: flex; }
  @media (max-width: 736px) {
    .rights__navigation {
      width: 100%; } }

.rights__item {
  margin-right: 31px; }
  .rights__item:last-child {
    margin-right: 0; }

.rights__link {
  font-size: 14px;
  padding-top: 0;
  line-height: 26px; }

.rights__copyright {
  display: block;
  letter-spacing: 0.4px; }

.introduction {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 20px 30px; }
  @media (min-width: 768px) {
    .introduction {
      padding-top: 151px;
      padding-bottom: 0; } }

.introduction__title {
  font-size: 32px;
  text-align: center;
  max-width: 547px;
  margin: 0 auto;
  margin-bottom: 49px;
  text-transform: none;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.32px;
  font-weight: 900; }

.introduction__description {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 1.714;
  max-width: 791px;
  margin-bottom: 44px;
  position: relative;
  color: #FFFFFF;
  letter-spacing: .7px; }
  .introduction__description::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #00e0d0;
    left: 50%;
    top: -30px;
    transform: translate(-50%, -50%); }

.introduction__link {
  display: block;
  width: 121px;
  box-sizing: border-box;
  margin: 0 auto; }

.page-background {
  width: 100%;
  background: url(../img/header-background.jpg);
  background-color: #332a52;
  background-repeat: no-repeat;
  min-height: 670px;
  background-size: cover;
  background-position: top center; }

.video-agency {
  width: 100%;
  background: url(../img/video-bg.jpg);
  background-size: cover;
  background-color: #332a52;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 1;
  box-sizing: border-box;
  padding: 199px 0px;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700; }

.video-agency__button {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../img/icon-play.png);
  background-repeat: no-repeat;
  margin-bottom: 34px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }

.video-agency__label {
  display: block;
  width: 157px;
  z-index: 10;
  font: inherit;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto; }

.video-agency__popup {
  width: 100%;
  height: 100%;
  max-width: 960px;
  padding: 30px 40px;
  position: absolute;
  display: none;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  box-sizing: border-box; }

.video-agency__popup-close {
  padding: 5px 5px;
  z-index: 10;
  position: absolute;
  color: #FFFFFF;
  top: 6px;
  right: 8px;
  font-size: 22px;
  border: 1px solid #FFFFFF;
  cursor: pointer; }

.video-agency__popup iframe {
  z-index: 2;
  box-sizing: border-box; }

.expertise {
  text-align: center;
  color: rgba(51, 51, 51, 0.749);
  padding: 62px 20px 57px; }

.expertise__container {
  max-width: 960px;
  margin: 0 auto; }

.expertise__title {
  color: #413d4b;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px; }

.expertise__description {
  font-size: 15px;
  position: relative;
  max-width: 440px;
  padding: 0;
  margin: 0 auto;
  font-family: "Playfair Display", "Arial", serif;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 65px;
  letter-spacing: 0.4px; }
  .expertise__description::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    left: 50%;
    top: 58px;
    transform: translate(-50%, -50%); }
    @media (min-width: 736px) {
      .expertise__description::before {
        top: 35px; } }

.expertise__content {
  max-width: 960px;
  margin: 0 auto; }

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.offers__item {
  box-sizing: border-box;
  width: 80%;
  padding-top: 38px;
  padding-bottom: 40px;
  padding-right: 33px;
  padding-left: 33px; }
  @media (min-width: 667px) {
    .offers__item {
      width: 50%; } }
  @media (min-width: 1024px) {
    .offers__item {
      max-width: 33%;
      border-bottom: 1px solid #ebebeb; }
      .offers__item:nth-child(3n+2) {
        border: 1px solid #ebebeb;
        border-top: none; }
      .offers__item:nth-last-child(-n+3) {
        border-bottom: none; } }
  .offers__item--mobile {
    padding-top: 30px; }

.offers__title {
  font-family: "Roboto", "Arial", serif;
  font-size: 14px;
  color: #413d4b;
  margin-bottom: 16px;
  letter-spacing: 0; }
  .offers__title--branding, .offers__title--mobile {
    margin-bottom: 23px; }

.offers__info {
  font-weight: 300;
  line-height: 22px;
  margin: 0; }

.offers__picture {
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: 31px; }

.works {
  padding-top: 65px;
  padding-bottom: 70px; }

.works__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
  margin-bottom: 65px;
  padding: 0 20px; }

.works__link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #413d4b;
  vertical-align: middle;
  min-width: 185px; }
  .works__link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    transform: translate(0, -50%);
    width: 8px;
    height: 13px;
    background: url(../img/work-link-arrow.png);
    background-repeat: no-repeat; }

.works__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 70px; }
  @media (min-width: 1024px) {
    .works__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }

.works__item {
  min-height: 200px; }

.works__poster {
  width: 267px;
  height: 200px;
  display: block; }

.works__title {
  letter-spacing: 2px; }

.review {
  padding: 66px 20px;
  margin: 0 auto;
  max-width: 960px; }

.review__title {
  margin-bottom: 26px;
  text-align: center; }

.form {
  width: 100%;
  margin: 0 auto;
  max-width: 460px; }

.form__list {
  text-align: center; }

.form__item {
  margin-bottom: 20px; }
  .form__item:last-child {
    margin-bottom: 13px; }

.form__input, .form__area {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgba(65, 61, 75, 0.502);
  line-height: 1.2; }

.form__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-left: 21px;
  outline: 0; }
  .form__input::-moz-placeholder {
    color: rgba(65, 61, 75, 0.502); }
  .form__input::placeholder {
    color: rgba(65, 61, 75, 0.502); }

.form__area {
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-left: 19px;
  min-height: 200px;
  resize: none; }

.testimonials {
  text-align: center;
  background-image: url(../img/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.testimonials__wrapper {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 129px 20px 70px;
  font-family: 'Playfair Display', "Arial", serif; }
  .testimonials__wrapper::before {
    content: "“";
    display: block;
    position: absolute;
    font: inherit;
    font-size: 86px;
    font-weight: 400;
    opacity: 0.902;
    color: #FFF;
    line-height: 0.22;
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0; }

.testimonials__feedback {
  margin: 0;
  opacity: 0.851;
  color: #FFFFFF;
  font: inherit;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  max-width: 780px;
  margin: 0 auto;
  margin-bottom: 43px;
  line-height: 26px;
  letter-spacing: .4px; }

.testimonials__name, .testimonials__position {
  font-family: "Roboto", "Arial", sans-serif;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase; }

.testimonials__name {
  font-size: 14px;
  font-weight: 400; }

.testimonials__position {
  opacity: 0.7;
  font-size: 13px;
  font-weight: 300; }

.testimonials__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 0 auto;
  min-width: 70px;
  vertical-align: middle;
  box-sizing: border-box; }

.testimonials__slider .slick-track {
  width: auto; }

.testimonials__slider-big {
  margin-bottom: 35px; }

.testimonials__slider img {
  display: block;
  width: 45px;
  height: 45px; }

.testimonials__photo {
  padding: 15px 10px;
  cursor: pointer;
  vertical-align: middle; }
  .testimonials__photo:active, .testimonials__photo:focus {
    transition: 1s;
    transform: scale(1.3); }

.team {
  background-image: url(../img/team-bg.jpg);
  background-color: #332a52;
  background-size: cover;
  text-align: center;
  min-height: 712px; }

.team__wrapper {
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  padding: 64px 20px 50px; }
  @media (min-width: 1024px) {
    .team__wrapper {
      padding-bottom: 0; } }

.team__title {
  color: #FFFFFF;
  margin-bottom: 10px;
  letter-spacing: 1.4px; }

.team__introduction {
  margin: 0;
  color: #f9f9f9;
  font-family: 'Playfair Display', "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  letter-spacing: 1.05px;
  margin-bottom: 63px; }
  .team__introduction::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.2;
    left: 50%;
    top: 32px;
    transform: translate(-50%, -50%); }

.team__join {
  margin: 0;
  margin-top: 59px;
  margin-bottom: 24px;
  color: #f3f3f3;
  font-weight: 300;
  letter-spacing: 0.7px; }

.team__container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 667px) {
    .team__container {
      max-width: 650px;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .team__container {
      max-width: 100%; } }

.card__items {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 20px; }
  @media (min-width: 1024px) {
    .card__items {
      margin: 0; } }

.card__photo {
  width: 220px;
  height: 229px;
  display: block; }

.card__info-container {
  padding: 20px 0;
  text-align: center;
  border: 1px solid #e1e1e1;
  opacity: .5; }

.card__member, .card__position {
  color: #FFFFFF;
  opacity: 0.702;
  text-transform: uppercase;
  display: block; }

.card__member {
  font-size: 14px; }

.card__position {
  font-size: 13px; }
