.rights__navigation, .rights__copyright {
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: $iphone-6-8-plump-landscape-width) {
        margin-bottom: 0;
        width: auto;
    }
}
.rights__navigation {
    box-sizing: border-box;
    display: flex;
    @media (max-width: $iphone-6-8-plump-landscape-width) {
        width: 100%;
    }
}

.rights__item {
    margin-right: 31px;
    &:last-child {
        margin-right: 0;
    }
}

.rights__link {
    font-size: 14px;
    padding-top: 0;
    line-height: 26px;
}

.rights__copyright {
    display: block; 
    letter-spacing: 0.4px;
}

  