.form {
    width: 100%;
    margin: 0 auto;
    max-width: 460px;
}
.form__list {
    text-align: center;
}
.form__item {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 13px;
    }
}

.form__input, .form__area {
    box-sizing: border-box;
    border: 1px solid $border-form-grey;
    font-size: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    color: $form-letter-grey;
    line-height: 1.2;
}
.form__input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 21px;
    outline: 0;
    &::placeholder {
        color: $form-letter-grey;
    }
}

.form__area {
    box-sizing: border-box;
    width: 100%;
    padding-top: 15px;
    padding-left: 19px;
    min-height: 200px;
    resize: none;
}

