.introduction {
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 20px 30px;

    
    @media (min-width: $ipad-portrait-width) {
        padding-top: 154px;
        padding-bottom: 0;
    }
}

.introduction__title {
    font-size: 32px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 44px;
    text-transform: none;
    color: $basic-white;
    font-weight: 400;
    letter-spacing: 1.32px;
}

.introduction__description {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    line-height: 1.714;
    max-width: 791px;
    margin-bottom: 50px;
    position: relative;
    color: $basic-white;
    letter-spacing: .7px;

    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: $basic-link;
        left: 50%;
        top: -30px;
        transform: translate(-50%, -50%);
      }
}

.introduction__link {
    display: block;
    width: 121px;
    box-sizing: border-box;
    margin: 0 auto;
    
}

