.link-more {
    display: inline-block;
    color: $basic-link;
    font-family: "Playfair Display", "Arial", serif;
    padding-top: 11px;
    padding-bottom: 11px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    border: 1px solid $basic-link;
    border-radius: 2px;
    padding: 16px 12px;
    font-weight: 700;
    max-width: 121px;
}

  