.offers {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    // @media (min-width: $ipad-landscape-width) {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     box-sizing: border-box;
    // }
}

.offers__item {
    box-sizing: border-box;
    width: 80%;
    padding-top: 38px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
    @media (min-width: $iphone-6-8-landscape-width) {
        width: 50%;
    }
    @media (min-width: $ipad-landscape-width) {
        width: 33%;
        border-bottom: 1px solid $offer-border-grey;
        &:nth-child(3n+2) {
            border: 1px solid $offer-border-grey;
            border-top: none;
          }
        &:nth-last-child(-n+3) {
            border-bottom: none;
        }
    }
}

.offers__title {
    font-family: "Roboto", serif;
    font-size: 14px;
    color: $expertise-grey;
    margin-bottom: 13px;
}

.offers__info {
    // width: 252px;
    margin: 0;
}

.offers__picture {
    max-width: 50px;
    min-width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}