.site-list {
  @media (min-width: $ipad-portrait-width) {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  @media (min-width: $ipad-landscape-width) {
    width: auto;
    justify-content: space-between;
  }
}

.site-list__item {
  @media (min-width: $ipad-portrait-width) {
    margin-right: 20px;

    &:nth-child(7n) {
      margin-right: 0;
    }
  }
  @media (min-width: $ipad-landscape-width) {
    margin-right: 26px;
  }
}

.site-list__link {
  padding-top: 19px;
  display: block;
  color: $basic-white;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
    color: rgb(0, 224, 208);
  }


  &--active {
    color: rgb(0, 224, 208);
  }
}
