.video-agency {
    width: 100%;
    background: url(../img/video-bg.jpg);
    background-size: cover;
    background-color: $basic-violet;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
    box-sizing: border-box;
    padding: 199px 0px;
    font-family: "Roboto","Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.video-agency__button {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url(../img/icon-play.png);
    background-repeat: no-repeat;
    margin-bottom: 34px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.video-agency__label {
    display: block;
    width: 157px;
    z-index: 10;
    font: inherit;
    text-align: center;
    color: $basic-white;
    margin: 0 auto;
}

.video-agency__popup {
    width: 100%;
    height: 100%;
    max-width: 960px;
    padding: 30px 40px;
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%,0);
    top: 0;
    box-sizing: border-box;
}
.video-agency__popup-close {
    padding: 5px 5px;
    z-index: 10;
    position: absolute;
    color: $basic-white;
    top: 6px;
    right: 8px;
    font-size: 22px;
    border: 1px solid $basic-white;
    cursor: pointer;
}
.video-agency__popup iframe{
    z-index: 2;
    box-sizing: border-box;
}