.works {
    padding-top: 65px;
    padding-bottom: 70px;
}

.works__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
    margin-bottom: 65px;
    padding: 0 20px;
}

.works__link {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: $expertise-grey;
    letter-spacing: .7;
    vertical-align: middle;
    min-width: 185px;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        transform: translate(0, -50%);
        width: 8px;
        height: 13px;
        background: url(../img/work-link-arrow.png);
        background-repeat: no-repeat;
        
    }
}

.works__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 70px;
    @media (min-width: $ipad-landscape-width) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.works__item {
    min-height: 200px;
}

.works__poster {
    width: 267px;
    height: 200px;
    display: block;
}

.works__title {
    letter-spacing: 0;
}