a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  overflow-x: hidden; }

.page {
  min-height: 100%;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.571;
  margin: 0;
  background-color: #FFFFFF;
  color: rgba(51, 51, 51, 0.749);
  font-weight: 400; }

.container-site {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .container-site {
      width: 960px;
      padding: 0; } }

.title {
  margin: 0;
  color: #413d4b;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.our-story {
  display: grid;
  grid-template-columns: 235px 550px;
  -moz-column-gap: 100px;
       column-gap: 100px; }

.our-story__picture {
  display: inline-block; }

.our-story__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 31px; }

.our-story__description {
  font-size: 15px;
  margin: 0;
  margin-bottom: 31px;
  line-height: 1.571; }

.link-more {
  display: inline-block;
  color: #00e0d0;
  font-family: "Playfair Display", "Arial", serif;
  padding-top: 11px;
  padding-bottom: 11px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  padding: 16px 12px;
  font-weight: 700;
  max-width: 119px; }

body {
  background: red; }
