.contacts__title {
    margin-bottom: 30px;
    color: $basic-white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
}

.contacts__adress {
    padding-left: 30px;
    margin: 0;
    margin-bottom: 12px;
    position: relative;
    box-sizing: border-box;
    width: 91%;
    line-height: 26px;
    letter-spacing: .35px;

    &::after {
        position: absolute;
        content: url(../img/icon-pin-map.png);
        top: 0;
        left: 5px;
        display: inline-block;
        height: 19px;
    }
}

.contacts__phone {
    padding-left: 30px;
    color: $basic-white;
    display: inline-block;
    position: relative;
    line-height: 26px;
    letter-spacing: .35px;

    &::after {
        position: absolute;
        content: url(../img/icon-phone.png);
        top: 0;
        left: 5px;
        display: inline-block;
        height: 19px;
    }
}
  