a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

  // html {
  //   margin-left: calc(100vw - 100%);
  //   margin-right: 0;
  // }
