.page-footer {
    // width: 100%;
    background: url(../img/footer-background.jpg);
    background-color: $basic-violet;
    background-repeat: no-repeat;
    // background-size: cover;
    min-height: 400px;
}

.page-footer__wrapper {
    box-sizing: border-box;
    padding: 70px 20px 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    color: $basic-white;
    @media (min-width: $iphone-6-8-plump-landscape-width) {
        padding: 70px 11px 0;
    }
}

.page-footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.page-footer__agency, .page-footer__contacts, .page-footer__social  {
    width: 100%;

    @media (min-width: $ipad-landscape-width) {
        width: 33.1%;
        box-sizing: border-box;
    }
}

.page-footer__contacts {
    padding-top: 13px;
}

.page-footer__social {
    padding-left: 10px;
    padding-top: 13px;
}
.page-footer__rights {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $iphone-6-8-plump-landscape-width) {
        justify-content: space-between;
    }
}