.resume__info {
    line-height: 1.857;
    margin: 0;
    margin-top: 25px;
    font-weight: 300;
    width: 89%;
    // color: $basic-white;
}

.resume__link {
    display: inline-block;
}
  
.lorem_quis_bibendum_auctor__nisi_elit_consequat {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.857;
    text-align: left;
    position: absolute;
    left: 330.134px;
    top: 5149.25px;
    width: 283px;
    height: 89px;
    z-index: 22;
  }
  