.rights__navigation, .rights__copyright {
    margin-bottom: 20px;
    width: 100%;
    @media (min-width: $iphone-6-8-plump-landscape-width) {
        margin-bottom: 0;
        width: auto;
    }
}
.rights__navigation {
    display: flex;
    @media (max-width: $iphone-6-8-plump-landscape-width) {
        width: 100%;
    }
}

.rights__item {
    margin-right: 25px;
    &:last-child {
        margin-right: 0;
    }
}

.rights__link {
    line-height: 1.857;
    font-size: 14px;
}

.rights__copyright {
    display: block;
}

  