// basic-green: #68B738;
// @special-green: #64a83b;
// @basic-green-2: #5EAA2F;
$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-grey: rgba(51, 51, 51, 0.749);
// @basic-grey: #F2F2F2;
// @special-grey-2: #EBEBEB;
// @special-dark-grey:  #444444;
// @special-dark-grey-2: #222222;
// @grey-cat: #EAEAEA;
// @tablet-width: 768px;
$basic-link: rgb(0, 224, 208);
$iphone-expensive-portrait-width: 375px;
$iphone-expensive-landscape-width: 734px;
$android-portrait-width: 412px;
$android-landscape-width: 684px;
$iphone-6-8-landscape-width: 667px;
$iphone-6-8-portrait-width: 375px;
$iphone-6-8-plump-portrait-width: 414px;
$iphone-6-8-plump-landscape-width: 736px;
$ipad-portrait-width: 768px; 
$ipad-landscape-width: 1024px;
// @mobile-width-only: 767px;
// @input-form-grey: #E7E7E7;
// @border-grey: #CDCDCD;
// @light-grey: #666666;
// @input-error: #FF8282;
// @form-hover: #BABABA;
// @special-grey-3: #d9d9d9;
// @special-border-grey: #e6e6e6;
// @mobile-border-grey: #ebebeb;
// @grey-range: #dcdcdc;
// @catalog-heading: #222222;
$title-grey-color: rgb(65, 61, 75);
