$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-grey: rgba(51, 51, 51, 0.749);
$expertise-grey:  rgb(65, 61, 75);
$offer-border-grey: #ebebeb;
$border-form-grey: #e5e5e5;
$newsteller-grey: #9a92ab;
$team-join-white: rgb(243, 243, 243);
$team-color-white: rgb(249, 249, 249);
$basic-link: rgb(0, 224, 208);
$basic-violet: #332a52;
$iphone-expensive-portrait-width: 375px;
$iphone-expensive-landscape-width: 734px;
$android-portrait-width: 412px;
$android-landscape-width: 684px;
$iphone-6-8-landscape-width: 667px;
$iphone-6-8-portrait-width: 375px;
$iphone-6-8-plump-portrait-width: 414px;
$iphone-6-8-plump-landscape-width: 736px;
$ipad-portrait-width: 768px; 
$ipad-landscape-width: 1024px;
$title-grey-color: rgb(65, 61, 75);
$form-letter-grey: rgba(65, 61, 75, 0.502);
