.card__items {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 20px; 

    @media (min-width: $ipad-landscape-width) {
        margin: 0;
    }
}

.card__photo {
    width: 220px;
    height: 229px;
    display: block;
}

.card__info-container {
    padding: 20px 0;
    text-align: center;
    border: 1px solid #e1e1e1;
    opacity: .5;
}

.card__member, .card__position {
    color: $basic-white;
    opacity: 0.702;
    text-transform: uppercase;
    display: block;
}

.card__member {
    font-size: 14px;
}
.card__position {
    font-size: 13px;
}
  
  