.offers {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.offers__item {
    box-sizing: border-box;
    width: 80%;
    padding-top: 38px;
    padding-bottom: 40px;
    padding-right: 33px;
    padding-left: 33px;
    @media (min-width: $iphone-6-8-landscape-width) {
        width: 50%;
    }
    @media (min-width: $ipad-landscape-width) {
        max-width: 33%;
        border-bottom: 1px solid $offer-border-grey;
        &:nth-child(3n+2) {
            border: 1px solid $offer-border-grey;
            border-top: none;
          }
        &:nth-last-child(-n+3) {
            border-bottom: none;
        }
    }

    &--mobile {
        padding-top: 30px;
    }
}

.offers__title {
    font-family: "Roboto", "Arial", serif;
    font-size: 14px;
    color: $expertise-grey;
    margin-bottom: 16px;
    letter-spacing: 0;
    // &--branding,
    // &--mobile {
    //     margin-bottom: 23px;
    // }
}

.offers__info {
    font-weight: 300;
    line-height: 22px;
    margin: 0;
}

.offers__picture {
    max-width: 50px;
    margin: 0 auto;
    margin-bottom: 31px;
    &--branding {
        margin-bottom: 37px 
    }
    &--mobile {
        margin-bottom: 35px;
    }
    &--love {
        margin-bottom: 32px;
    }
}