.page {
  min-height: 100%;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.571;
  margin: 0;
  background-color: $basic-white;
  color: $basic-grey;
  font-weight: 400;
}

